body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, p {
    text-align: center;
}

.links a {
    display: block;
    margin: 10px auto; /* Centrage horizontal */
    padding: 12px 25px;
    background-color: #333; /* Gris foncé pour le fond */
    color: #fff; /* Texte en blanc pour le contraste */
    text-decoration: none;
    border-radius: 20px; /* Bordures arrondies pour un look moderne */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: all 0.3s ease; /* Transition douce pour l'interaction */
    text-align: center; /* Assure que le texte est centré */
}

.links a:hover {
    background-color: #555; /* Un peu plus clair au survol */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transform: translateY(-3px); /* Léger effet de soulèvement */
}
